body {
	font-family:'Courier', monospace;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGGFYLgxaHBIka-NlO6Wc1dZzHajQ4vQk0NQ&usqp=CAU);

}
.container {
	width: 18em;
	margin: 0 auto;
	box-shadow: 0 0 10em #cccccc;
	padding: 1em;
    margin: 2em auto;
    background: #fff;
    border-radius: 10px;
	}
form p > label {
	display: inline-block;
	width: 200px;
}
form input[type="text"], form textarea {
		width: 224px;
		border: 1px solid #ff009d;
		padding: 5px 15px;
		padding-left: 20px;
		border-radius: 5px;
	}

form input[type="submit"] {
	border: 1px solid #0a6491;
	background-color: #da278f;
	color: #ffffff;
	font-weight: bold;
	padding: 5px 15px;
}
fieldset {
	background-color: lightblue;
	border-radius: 5px;
}